<div>Scraped Products</div>
<table class="table">
  <thead>
    <tr>
      <th (click)="sort('itemLabel')" style="cursor: pointer;">label</th>
      <th (click)="sort('itemPrice')" style="cursor: pointer;">price</th>
      <th (click)="sort('itemPricePer')" style="cursor: pointer;">price/unit</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let product of Products.values() | orderBy: orderbyProp: sortOrderAsc">
      <td>{{product.itemLabel}}</td>
      <td>{{product.itemPrice}}</td>
      <td style="white-space: nowrap;">{{product.itemPricePer}}/{{product.itemPerUnit}}</td>
    </tr>
  </tbody>
</table>